$smoke: #c9c9c9;
$charcoal: #969696;

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.input-container {
  position: fixed;
  bottom: 25px;
  width: 99%;
}

.msg-container {
  display: inline-block;
  width: 75%;
  overflow-y: auto;
  max-height: 400px;
}

.login-container {
  margin: 10px;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: calc(100% - 70px);
  font-family: sans-serif;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: none;
  border-bottom: solid 2px $smoke;
  transition: border 0.3s;
  &:focus {
    outline: none;
    border-bottom: solid 2px $charcoal;
  }
}

button {
  float: right;
  font-size: 1.5em;
  background-color: white;
  border: none;
}

.chat {
  width: 300px;
  margin-bottom: 10px;
  list-style-type: none;
  .chat-msg {
    margin-left: 10px;
    border-bottom: solid 1px $smoke;
  }
  .chat-user {
    font-weight: 600;
  }
  .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0 5px;
    margin-left: 20px;
    border-radius: 6px;
    /* Position the tooltip text */
    position: relative;
    display: inline-block;
    float: right;
    left: 35%;
  }
}

.user-sidebar {
  width: 25%;
  float: right;
}

.users {
  min-height: 300px;
  ul {
    padding-left: 10px;
  }
  .user-count {
    padding-left: 10px;
  }
  .user {
    list-style-type: none;
  }
}
/* Show the tooltip text when you mouse over the tooltip container */
.chat:hover .tooltiptext {
  visibility: visible;
}
